<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>Bet You Can't Bowl A Strike Every Time</p>
    </body>
</html>
